<%= render 'shared/form_helper'%>
<%= form_for(@address, remote: true) do |f| %>
    <div class='row'>
        <div class='col-md-6'>
            <div class="mb-3">
                <%= f.label :address_line1 %>
                <%= f.text_field :address_line1, class: "form-control"%>
            </div>

            <div class="mb-3">
                 <%= f.label :address_line2 %>
                 <%= f.text_field :address_line2, class: "form-control"%>
             </div>


             <div class="mb-3">
                 <%= f.label :address_line3 %>
                 <%= f.text_field :address_line3, class: "form-control"%>
             </div>

             <div class="mb-3">
                 <%= f.label :city %>
                 <%= f.text_field :city, class: "form-control"%>
             </div>
             <div class="mb-3">
                 <%= f.label :state %>
                 <%= f.text_field :state, class: "form-control"%>
             </div>
            </div>
            <div class='col-md-6'>
            <br>
                <div class="mb-3">
                    <%= f.label :pincode %>
                    <%= f.text_field :pincode, class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= f.label :country_code %>
                    <%= f.text_field :country_code, class: "form-control" %>
                </div>
                <div class="mb-3">
                    <%= f.label :contact_number %>
                    <%= f.text_field :contact_number,class: "form-control" %>
                </div>
                    <%= f.submit "Sumbit", class: "btn btn-primary", id: 'formSubmitBtn' %>
                    <button class="btn btn-danger" id='formCloseBtn'>Cancel</button>
            </div>
        </div>
    <% end %>
    