  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Ebazaar</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <%= link_to "Home", root_path, class: "me-3 py-2 text-dark text-decoration-none" %>
      <% if user_signed_in? %>
        <%= link_to "Browse Products", product_index_path, class: "me-3 py-2 text-dark text-decoration-none", remote: true %>
        <%= link_to "My Profile", show_user_profile_index_path, class: "me-3 py-2 text-dark text-decoration-none", remote: true %>
        <%= link_to "My Addresses", user_addresses_path, class: "me-3 py-2 text-dark text-decoration-none", remote: true %>
        <%= link_to "Logout", destroy_user_session_path,method: :delete ,class: "btn btn-outline-danger"  %>
      <% else %>
        <%= link_to "Login", new_user_session_path,class: "btn btn-outline-primary"  %>
      <% end %>
      </nav>
    </div>
  </header>
  