<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0">
        <% unless logged_in?(:seller) %>
        <div class="navbar-brand text-uppercase fw-800">
            <span class="border-red pe-2">Products</span>
        </div>
        <% else %>
            <% span_message = '<span class="border-red pe-2">Create Product</span>'.html_safe %>
            <%= link_to span_message, new_product_path,class:"navbar-brand text-uppercase fw-800", remote: true%>
        </a>
        <% end %>

        <div class="collapse navbar-collapse" id="myNav">
            <div class="navbar-nav ms-auto">
                <%=link_to "All", root_path, id:"nav-all", class: "nav-link active", remote: true%>
                <%Category.order('name').each do |cat|%>
                    <%=link_to cat.name, root_path(cat_id: cat.id),id:"nav-#{cat.id}" ,class: "nav-link", remote: true%>
                <%end%>
            </div>
            <div class="dropdown">
                &nbsp;&nbsp;
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    User Action
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <% if user_signed_in? %>
                        <% if logged_in?(:seller)%>
                            <li><%= link_to "Inventories", inventories_path ,class: "dropdown-item", remote: true  %></li>
                        <% end %>
                        <li><%= link_to "My Profile", user_profile_path, class: "dropdown-item", remote: true %></li>
                        <li><%= link_to "My Addresses", user_addresses_path, class: "dropdown-item", remote: true %></li>
                        <li><%= link_to "Logout", destroy_user_session_path,method: :delete ,class: "dropdown-item"  %></li>
                    <% else %>
                        <li><%= link_to "Login", new_user_session_path,class: "dropdown-item"  %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</nav>
