<div class = 'card'>
    <div class = 'card-body'> 
        <div class='card-title'><h2><%= fullname(@profile) %></h2></div>
       
        <h4>
            <label>Gender</label> :
             <%= showgender(@profile) %>
             <br>

             <label>Date Of Birth</label> :
             <%= @profile.dob %>
             <br>

             <label>Mobile No.</label> :
             <%= show_contact_no(@profile) %>

        </h4>
        <%= link_to 'Edit Profile', edit_user_profile_path, class: 'btn btn-warning', remote: true %>
    </div>
</div>
