<!DOCTYPE html>
<html>
  <head>
    <title>Ebazaar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-white">
    <div class="container py-3">
      <%= render "shared/nav"%>
      <main>
        <div id="formport"></div>
        <div id='viewport'>
          <%= yield %>
        </div>
      </main>
      <%= render "shared/footer"%>
    </div> 
  </body>
</html>
