<!DOCTYPE html>
<html>
  <head>
    <title>Ebazaar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= render "shared/nav"%>

    <div class="container">
      <%= yield %>
      <%= render "shared/footer"%>
    </div>

  
  </body>
</html>
